.einKind, .zweiKinder, .dreiKinder, .einkommen-template, .gebuehreninfo, .berechnung {
  display: none;
}
mark {
  z-index: -1;
}
div.row {
  margin-bottom: 15px;
}
pre {
  background: none;
  border-top: none;
}

.modal-dialog {
    width: 1024px;
}
