.einKind, .zweiKinder, .dreiKinder, .einkommen-template, .gebuehreninfo, .berechnung {
  display: none;
}

.append {
  margin-top: -12px;
}

.row {
  margin-bottom: 15px;
}
pre {
  background: none;
  border-top: none;
}

@media (min-width: 1200px) {
  .modal-dialog {
    width: 1024px;
  }
}

.copyright {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
